<template>
<!-- , margin(data.margin, '', data.layout, 'box') -->
    <div
        :class="boxWrapClass(data)"
        :style="boxStyle(data, data)"
    >
        <component
            :key="index"
            v-for="(content, index) in data.contents"
            :is="findContent(content.type)"
            :data="content"
            :class="boxClass(content, data)"
            :style="boxStyle(content, data)"
            :mainData="data"
        ></component>
    </div>
</template>

<script>
import textContent from './textContent'
import imageContent from './imageContent'
import buttonContent from './buttonContent'
import separatorContent from './separatorContent'

export default {
    name: 'boxContent',
    props: {
        data: {
            type: Object
        },
        mainData: {
            type: Object,
            required: false
        },
    },
    components: {
        textContent,
        imageContent,
        buttonContent,
        separatorContent,
    },
    methods: {
        findContent (key) {
            return `${key}Content`
        },
        jsUcfirst (string) {
            return string.charAt(0).toUpperCase() + string.slice(1)
        },
        boxClass (content, data) {
            if (content.type === 'separator') {
                return [
                    'MdSep',
                    this.separator(data.layout),
                    this.margin(content.margin, data.layout),
                ]
            }
            else if (content.type === 'filler') {
                return ['box-filler']
            }
            else if (content.type === 'text') {
                return [
                    'MdTxt',
                    content.wrap ? 'ExWrap' : '',
                    this.fontSize(content),
                    this.margin(content.margin, data.layout),
                    this.offsetTop(content),
                    this.offsetBottom(content),
                    this.offsetStart(content),
                    this.offsetEnd(content),
                ]
            }
            else if (content.type === 'button') {
                return [
                    'MdBtn',
                    content.flex && content.flex < 4 ? `fl${content.flex}` : '',
                    content.style === 'primary' ? 'ExBtn1' : content.style === 'secondary' ? 'ExBtn2' : 'ExBtnL',
                    content.position === 'absolute' ? 'ExAbs' : '',
                    content.height === 'sm' ? 'ExSm' : '',
                    this.margin(content.margin, data.layout),
                    this.offsetTop(content),
                    this.offsetBottom(content),
                    this.offsetStart(content),
                    this.offsetEnd(content),
                ]
            }
            else if (content.type === 'box') {
                return [
                    // 'MdBx',
                    content.flex && content.flex < 4 ? `fl${content.flex}` : '',
                    // content.position === 'absolute' ? 'ExAbs' : '',
                    this.margin(content.margin, data.layout),
                    this.radius(content),
                    this.borderWidth(content),
                    this.spacing(content),
                    this.paddingAll(content),
                    this.paddingTop(content),
                    this.paddingBottom(content),
                    this.paddingStart(content),
                    this.paddingEnd(content),
                    this.offsetTop(content),
                    this.offsetBottom(content),
                    this.offsetStart(content),
                    this.offsetEnd(content),
                ]
            }
        },
        boxStyle(content, data) {
            if (content.type === 'box') {
                let style = `
                    ${this.width(content)};
                    ${this.height(content)};
                    border-radius: ${content.cornerRadius};
                    background-color: ${content.backgroundColor};
                    border-width: ${content.borderWidth};
                    border-color: ${content.borderColor};
                `
                // margin
                if(!this.isKeywords(content.margin) && data.layout === 'vertical') {
                    style = style + `margin-top: ${content.margin};`
                }
                else if (!this.isKeywords(content.margin) && data.layout === 'baseline' || data.layout === 'horizontal'){
                    style = style + `margin-left: ${content.margin};`
                }
                // paddingAll
                if(!this.isKeywords(content.paddingAll)) {
                    style = style + `padding: ${content.paddingAll};`
                }
                // paddingBottom
                if(!this.isKeywords(content.paddingBottom)) {
                    style = style + `padding-bottom: ${content.paddingBottom};`
                }
                // paddingStart
                if(!this.isKeywords(content.paddingStart)) {
                    style = style + `padding-left: ${content.paddingStart};`
                }
                // paddingTop
                if(!this.isKeywords(content.paddingTop)) {
                    style = style + `padding-top: ${content.paddingTop};`
                }
                // paddingEnd
                if(!this.isKeywords(content.paddingEnd)) {
                    style = style + `padding-right: ${content.paddingEnd};`
                }
                // offsetBottom
                if(!this.isKeywords(content.offsetBottom)) {
                    style = style + `bottom: ${content.offsetBottom};`
                }
                // offsetTop
                if(!this.isKeywords(content.offsetTop)) {
                    style = style + `top: ${content.offsetTop};`
                }
                // offsetStart
                if(!this.isKeywords(content.offsetStart)) {
                    style = style + `left: ${content.offsetStart};`
                }
                // offsetEnd
                if(!this.isKeywords(content.offsetEnd)) {
                    style = style + `right: ${content.offsetEnd};`
                }
                // spacing
                // if(!this.isKeywords(content.spacing) && data.layout === 'vertical') {
                //     style = style + `margin-top: ${content.margin};`
                // }
                // else if (!this.isKeywords(content.margin) && data.layout === 'baseline' || data.layout === 'horizontal'){
                //     style = style + `margin-left: ${content.margin};`
                // }
                return  style
            }
            else if (content.type === 'text') {
                let style = ''
                if (content.flex > 3) {
                    style = style + `flex-grow: ${content.flex};`
                }
                // margin
                if(!this.isKeywords(content.margin) && data.layout === 'vertical') {
                    style = style + `margin-top: ${content.margin};`
                }
                else if (!this.isKeywords(content.margin) && data.layout === 'baseline' || data.layout === 'horizontal'){
                    style = style + `margin-left: ${content.margin};`
                }
                // offsetBottom
                if(!this.isKeywords(content.offsetBottom)) {
                    style = style + `bottom: ${content.offsetBottom};`
                }
                // offsetTop
                if(!this.isKeywords(content.offsetTop)) {
                    style = style + `top: ${content.offsetTop};`
                }
                // offsetStart
                if(!this.isKeywords(content.offsetStart)) {
                    style = style + `left: ${content.offsetStart};`
                }
                // offsetEnd
                if(!this.isKeywords(content.offsetEnd)) {
                    style = style + `right: ${content.offsetEnd};`
                }
                return style
            }
            else if (content.type === 'separator') {
                let style = `
                    border-color: ${content.color} !important;
                `
                if(!this.isKeywords(content.margin) && data.layout === 'vertical') {
                    style = style + `margin-top: ${content.margin};`
                }
                else if (!this.isKeywords(content.margin) && data.layout === 'baseline' || data.layout === 'horizontal'){
                    style = style + `margin-left: ${content.margin};`
                }
                return style
            }
            else if (content.type === 'button') {
                let style = ``
                if (content.flex > 3) {
                    style = style + `flex-grow: ${content.flex};`
                }
                // margin
                if(!this.isKeywords(content.margin) && data.layout === 'vertical') {
                    style = style + `margin-top: ${content.margin};`
                }
                else if (!this.isKeywords(content.margin) && data.layout === 'baseline' || data.layout === 'horizontal'){
                    style = style + `margin-left: ${content.margin};`
                }
                // offsetBottom
                if(!this.isKeywords(content.offsetBottom)) {
                    style = style + `bottom: ${content.offsetBottom};`
                }
                // offsetTop
                if(!this.isKeywords(content.offsetTop)) {
                    style = style + `top: ${content.offsetTop};`
                }
                // offsetStart
                if(!this.isKeywords(content.offsetStart)) {
                    style = style + `left: ${content.offsetStart};`
                }
                // offsetEnd
                if(!this.isKeywords(content.offsetEnd)) {
                    style = style + `right: ${content.offsetEnd};`
                }
                return style
            }
        },
        margin (margin, layout) {
            if (margin) {
                if(this.isKeywords(margin) && layout === 'vertical') {
                    return `ExMgnT${this.jsUcfirst(margin)}`
                }
                else if (this.isKeywords(margin) && layout === 'baseline' || layout === 'horizontal'){
                    return `ExMgnL${this.jsUcfirst(margin)}`
                }
            }
            return ''
        },
        height (content) {
            if(content.height) {
                return `height: ${content.height}`
            }
        },
        width (content) {
            if(content.width) {
                return `width: ${content.width};max-width: ${content.width};`
            }
        },
        textAlign (align) {
            if (align === 'end') {
                return 'ExAlgE'
            }
            else if (align === 'center') {
                return 'ExAlgC'
            }
            return ''
        },
        layout (layout) {
            return layout === 'vertical' ? 'vr' : layout === 'baseline' ? 'br' : 'hr'
        },
        flex (size, layout) {
            if (!size) {
                return layout === 'vertical' ? 'flex-0' : 'flex-1'
            }
            return `flex-${size}`
        },
        separator (layout) {
            return `separator-${layout}`
        },
        radius(content) {
            if(content.cornerRadius) {
                if(this.isKeywords(content.cornerRadius)) {
                    return `ExBdrRad${this.jsUcfirst(content.cornerRadius)}`
                }
            }
        },
        borderWidth(content) {
            if(content.borderWidth) {
                if(this.isKeywords(content.borderWidth)) {
                    return `ExBdrWdt${this.jsUcfirst(content.borderWidth)}`
                }
            }
        },
        isKeywords(value) {
            if(value) {
                if(value.indexOf('px') > -1) {
                    return false
                }
                else {
                    return true
                }
            }
        },
        fontSize(content) {
            if(content.size) {
                if(this.isKeywords(content.size)) {
                    return `Ex${this.jsUcfirst(content.size)}`
                }
            }
        },
        paddingAll(content) {
            if(content.paddingAll) {
                if(this.isKeywords(content.paddingAll)) {
                    return `ExPadA${this.jsUcfirst(content.paddingAll)}`
                }
            }
        },
        spacing(content) {
            if(content.spacing) {
                if(this.isKeywords(content.spacing)) {
                    return `spc${this.jsUcfirst(content.spacing)}`
                }
            }
        },
        paddingTop(content) {
            if(content.paddingTop) {
                if(this.isKeywords(content.paddingTop)) {
                    return `ExPadT${this.jsUcfirst(content.paddingTop)}`
                }
            }
        },
        paddingBottom(content) {
            if(content.paddingBottom) {
                if(this.isKeywords(content.paddingBottom)) {
                    return `ExPadB${this.jsUcfirst(content.paddingBottom)}`
                }
            }
        },
        paddingStart(content) {
            if(content.paddingStart) {
                if(this.isKeywords(content.paddingStart)) {
                    return `ExPadS${this.jsUcfirst(content.paddingStart)}`
                }
            }
        },
        paddingEnd(content) {
            if(content.paddingEnd) {
                if(this.isKeywords(content.paddingEnd)) {
                    return `ExPadE${this.jsUcfirst(content.paddingEnd)}`
                }
            }
        },
        boxWrapClass(data) {
            return [
                'MdBx',
                this.layout(data.layout),
                this.margin(data.margin, data.layout),
                data.position === 'absolute' ? 'ExAbs' : '',
                data.display === false ? 'component-hide' : ''
            ]
        },
        offsetBottom(content) {
            if(content.offsetBottom) {
                if(this.isKeywords(content.offsetBottom)) {
                    return `ExB${this.jsUcfirst(content.offsetBottom)}`
                }
            }
        },
        offsetTop(content) {
            if(content.offsetTop) {
                if(this.isKeywords(content.offsetTop)) {
                    return `ExT${this.jsUcfirst(content.offsetTop)}`
                }
            }
        },
        offsetStart(content) {
            if(content.offsetStart) {
                if(this.isKeywords(content.offsetStart)) {
                    return `ExL${this.jsUcfirst(content.offsetStart)}`
                }
            }
        },
        offsetEnd(content) {
            if(content.offsetEnd) {
                if(this.isKeywords(content.offsetEnd)) {
                    return `ExR${this.jsUcfirst(content.offsetEnd)}`
                }
            }
        },
    }
}
</script>

<style scoped>
.boxFlex {
  display: flex;
  width: auto;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}
.gravity-top {
  align-items: flex-start;
}
.gravity-center {
  align-items: center;
}
.gravity-bottom {
  align-items: flex-end;
}
.flex-0 {
  flex: none;
}
.flex-1 {
  flex: 1 1 auto;
}
.flex-2 {
  flex: 3 3 auto;
}
.flex-3 {
  flex: 2 2 auto;
}
/* .separator-vertical {
  border-top: 1px solid #dadada;
  width: 100%;
  margin-bottom: 16px;
}

.separator-horizontal {
  border-left: 1px solid #dadada;
  height: 100%;
  width: 1px;
}

.separator::before {
  content: '';
} */
.box-filler {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  width: 100%;
}
.component-hide {
    display: none;
}
</style>
