<template>
    <!-- <div
        id="flex-image"
        :class="` ${aspectMode(data.aspectMode)} ${align(data.align)}`"
    > -->
    <!-- :class="`${size(data.size)} `" -->
    <div
        :class="boxClass(data, mainData)"
        :style="boxStyle(data)"
    >
        <div :style="imageWrapStyle(data)">
            <a :style="imageStyle(data)">
                <span :style="`background-image: url(${data.url}); background-color: ${data.backgroundColor ? data.backgroundColor : ''}`"></span>
            </a>
            <!-- <img
                :src="data.url"
                alt="flex image"
            > -->
        </div>
    </div>
</template>

<script>
export default {
    name: 'flex-image',
    props: {
        data: {
            type: Object,
            required: true
        },
        mainData: {
            type: Object,
            required: false
        },
    },
    methods: {
        jsUcfirst (string) {
            return string.charAt(0).toUpperCase() + string.slice(1)
        },
        size (size) {
            return size ? `size-${size}` : 'size-md'
        },
        aspectMode (mode) {
            return mode ? `mode-${mode}` : ''
        },
        align(align) {
            return align ? `text-align-${align}` : 'text-align-center'
        },
        imageWrapStyle(content) {
            if(content.size) {
                if(!this.isKeywords(content.size)) {
                    return `width: ${content.size};`
                }
            }
        },
        isKeywords(value) {
            if(value) {
                if(value.indexOf('px') > -1) {
                    return false
                }
                else {
                    return true
                }
            }
        },
        imageStyle(content) {
            if(content.aspectRatio) {
                const ratioArr = content.aspectRatio.split(':')
                const result = (Number(ratioArr[1]) / Number(ratioArr[0])) * 100
                return `padding-bottom: ${result}%`
            }
            else {
                return `padding-bottom: 100%`
            }
        },
        boxClass(content, data) {
            return [
                'MdImg',
                this.size(content),
                this.aspectMode(content),
                this.imageAlign(content),
                content.flex && content.flex < 4 ? `fl${content.flex}` : '',
                content.position === 'absolute' ? 'ExImgAbs' : '',
                this.margin(content.margin, data.layout),
                this.gravity(content)
                
            ]
        },
        boxStyle(content) {
            let style = ''
            if (content.flex > 3) {
                style = style + `flex-grow: ${content.flex};`
            }
            return style
        },
        size(content) {
            if(content.size) {
                if(this.isKeywords(content.size)) {
                    return `Ex${this.jsUcfirst(content.size)}`
                }
            }
            else {
                return 'ExMd'
            }
        },
        aspectMode(content) {
            if(content.aspectMode) {
                if(content.aspectMode === 'cover') {
                    return 'ExCover'
                }
                else {
                    return 'ExFit'
                }
            }
            else {
                return 'ExFit'
            }
        },
        imageAlign(content) {
            if (content.align) {
                if(content.align === 'start') {
                    return 'algS'
                }
                else if (content.align === 'end') {
                    return 'algE'
                }
                else {
                    return ''
                }
            }
        },
        margin (margin, layout) {
            if (margin) {
                if(this.isKeywords(margin) && layout === 'vertical') {
                    return `ExT${this.jsUcfirst(margin)}`
                }
                else if (this.isKeywords(margin) && layout === 'baseline' || layout === 'horizontal'){
                    return `ExL${this.jsUcfirst(margin)}`
                }
                else {
                    return ''
                }
            }
            return ''
        },
        gravity(content) {
            if (content.gravity) {
                if(content.gravity === 'bottom') {
                    return 'grvB'
                }
                else if (content.gravity === 'center') {
                    return 'grvC'
                }
                else {
                    return ''
                }
            }
            else {
                return ''
            }
        },
    }
}
</script>

<style scoped>
/* size (xxs, xs, sm, md, lg, xl, xxl, 3xl, 4xl, 5xl, full)  */
.size-xxs {
  width: 15px;
}
.size-xs {
  width: 25px;
}
.size-sm {
  width: 40px;
}
.size-md {
  width: 60px;
}
.size-lg {
  width: 80px;
}
.size-xl {
  width: 140px;
}
.size-xxl {
  width: 160px;
}
.size-3xl {
  width: 180px;
}
.size-4xl {
  width: 200px;
}
.size-5xl {
  width: 220px;
}
.size-full {
  width: 100%;
  height: 100%;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}

.mode-cover {
  margin: -5px;
  margin-bottom: 0px;
}

</style>
