<template>
 <!-- bd-w-1px bd-st-solid bd-bg-cl-white bd-cl-grey-light -->
    <div id="LineFlex" class="T1" :class="flexSize(data.contents)">
        <component
            v-for="(data, key) in flexData"
            :key="key"
            :id="key"
            :data="data"
            :mainData="flexData"
            :class="findPadding(key)"
            :is="findComponent(key)"
        ></component>
    </div>
</template>

<script>
import boxContent from './boxContent'
import imageContent from './imageContent'
export default {
    name: 'LineFlex',
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    components: {
        boxContent,
        imageContent
    },
    methods: {
        findComponent (key) {
            const compConst = {
                header: 'boxContent',
                hero: 'imageContent',
                body: 'boxContent',
                footer: 'boxContent'
            }
            return compConst[key] ? compConst[key] : ''
        },
        findPadding (key) {
            const pdConst = {
                header: 'pd-20px',
                hero: '',
                body: 'pd-20px',
                footer: 'pd-10px'
            }
            return pdConst[key] ? pdConst[key] : ''
        },
        flexSize(data) {
            if(data.size) {
                if(data.size === 'giga') {
                    return 'LyGi'
                }
                else if(data.size === 'mega') {
                    return 'LyMe'
                }
                else if(data.size === 'kilo') {
                    return 'LyKi'
                }
                else if(data.size === 'micro') {
                    return 'LyMi'
                }
                else if(data.size === 'nano') {
                    return 'LyNa'
                }
                else {
                    return 'LyMe'
                }
            }
            else {
                return 'LyMe'
            }
        }
    },
    computed: {
        flexData () {
            const { header, hero, body, footer } = this.data.contents
            let data = { header, hero, body, footer }
            Object.keys(data).forEach(key => {
                if (!data[key]) {
                    delete data[key]
                }
            })
            return data
        }
    }
}
</script>

<style>
@import url('./style.css');
.v-application {
    line-height: 1.4 !important;
}
.v-application p {
    margin-bottom: 0px !important;
    font-size: 15px;
    font-family: inherit;
    font-style: normal;
}
/* .T1 {
  border-radius: 17px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
  width: 380px;
}

.ExMgnTXXl {
    margin-top: 20px!important;
} */
</style>
