<template>
    <div>
        <p :style="textStyle(data)" :class="textClass(data)" v-if="data.contents === undefined">
            {{data.text}}
        </p>
        <p :style="textStyle(data)" :class="textClass(data)" v-else>
            <span
                v-for="(content, index) in data.contents"
                :key="index"
                :class="spanClass(content)"
                :style="spanStyle(content)"
            >
                {{content.text}}
            </span>
        </p>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: () => {}
        },
        mainData: {
            type: Object,
            required: false
        },
    },
    mounted() {
        // console.log(this.data.contents.length)
    },
    methods: {
        jsUcfirst (string) {
            return string.charAt(0).toUpperCase() + string.slice(1)
        },
        isKeywords(value) {
            if(value) {
                if(value.indexOf('px') > -1) {
                    return false
                }
                else {
                    return true
                }
            }
        },
        textClass (content) {
            return [
                // content.weight ? content.weight : '',
                // this.fontSize(content.size),
            ]
        },
        textStyle(content) {
            return `
                color: ${content.color};
                text-align: ${content.align};
                font-weight: ${content.weight === 'bold' ? content.weight : 'normal'};
                font-style: ${content.style === 'italic' ? content.style : 'normal'};
                text-decoration: ${content.decoration};
                text-align: ${content.align};
            `
        },
        spanClass(content) {
            return [
                this.fontSize(content),
            ]
        },
        spanStyle(content) {
            return `
                color: ${content.color};
                font-weight: ${content.weight === 'bold' ? content.weight : 'normal'};
                font-style: ${content.style === 'italic' ? content.style : 'normal'};
                text-decoration: ${content.decoration};
            `
        },
        fontSize(content) {
            if(content.size) {
                if(this.isKeywords(content.size)) {
                    return `Ex${this.jsUcfirst(content.size)}`
                }
            }
        },
    }
}
</script>

<style scoped>
.bold {
  font-weight: bold;
}

.size-xxs {
  font-size: 11px;
}

.size-xs {
  font-size: 13px;
}

.size-sm {
  font-size: 14px;
}

.size-md {
  font-size: 16px;
}

.size-lg {
  font-size: 19px;
}

.size-xl {
  font-size: 22px;
}

.size-xxl {
  font-size: 29px;
}

.size-3xl {
  font-size: 35px;
}

.size-4xl {
  font-size: 48px;
}

.size-5xl {
  font-size: 74px;
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
</style>
