<template>
    <div class="personalize-wrap">
        <div class="section-left">
            <div class="form-group d-flex align-items-center justify-content-between w-60 mb-2">
                <label class="font-weight-medium">Show display image</label>
                <switch-toggle
                    :value="showDisplayImage"
                    @input="onDisplayImageToggle"
                />
            </div>
            <div class="form-group d-flex align-items-center justify-content-between w-60">
                <label class="font-weight-medium">Show display name</label>
                <switch-toggle
                    :value="showDisplayName"
                    @input="onDisplayNameToggle"
                />
            </div>
            <div v-if="showDisplayName">
                <div class="d-flex">
                    <div class="w-50 mr-2">
                        <div class="form-group">
                            <label class="font-weight-medium">Text size</label>
                            <BaseSelectOption
                                placeholder="-- size --"
                                :value="settingText.size"
                                :options="textSizeList.map(item => {
                                    return {
                                        value: item,
                                        text: item,
                                    }
                                })"
                                @input="value => onSettingInput(value, 'size')"
                            />
                        </div>
                    </div>
                    <div class="w-50 ml-2">
                        <div class="form-group">
                            <label class="font-weight-medium">Text color</label>
                            <colorpicker
                                :value="settingText.color"
                                @input="value => onSettingInput(value, 'color')"
                            />
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50 mr-2">
                        <div class="form-group">
                            <label class="font-weight-medium">Text weight</label>
                            <BaseSelectOption
                                placeholder="-- weight --"
                                :value="settingText.weight"
                                :options="textWeightList"
                                @input="value => onSettingInput(value, 'weight')"
                            />
                        </div>
                    </div>
                    <div class="w-50 ml-2">
                        <div class="form-group">
                            <label class="font-weight-medium">Text style</label>
                            <BaseSelectOption
                                placeholder="-- style --"
                                :value="settingText.style"
                                :options="textStyleList"
                                @input="value => onSettingInput(value, 'style')"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between w-60 mb-1">
                <label class="font-weight-medium">Action</label>
                <switch-toggle
                    :value="showAction"
                    @input="onActionToggle"
                />
            </div>
            <!-- :value="area.type" -->
            <!-- @input="onTypeChange" -->
            <div v-if="showAction">
                <div class="form-group">
                    <BaseSelectOption
                        placeholder="-- action --"
                        :value="item.data.body.action.type" 
                        :options="actionList"
                        @input="onTypeChange"
                    />
                </div>
                <div class="form-group" v-if="item.data.body.action.type === 'message'">
                    <label class="font-weight-medium"><span class="star">*</span>Text</label>
                    <div class="d-flex align-items-center">
                        <input
                            type="text"
                            class="form-control mr-3"
                            placeholder="Enter text reply display"
                            :value="item.data.body.action.text"
                            maxlength="50"
                            @input="(event) => onValueInput(event, 'message')"
                        />
                        <span>{{item.data.body.action.text.length}}/50</span>
                    </div>
                </div>
                <div class="form-group" v-if="item.data.body.action.type === 'uri'">
                    <label class="font-weight-medium"><span class="star">*</span>Uri</label>
                    <div class="d-flex align-items-center">
                        <input
                            type="text"
                            class="form-control link-input"
                            placeholder="https://www.domain.com"
                            :value="item.data.body.action.linkUri"
                            @input="(event) => onValueInput(event, 'uri')"
                            @keyup="onUriKeyup"
                        />
                    </div>
                    <div v-if="!validURI" class="text-danger font-size-sm">URI must be https, http, tel, mailto, line, linemusic</div>
                </div>
            </div>
        </div>
        <div class="section-right">
            <div class="personalize-des">
                <span>Image format: JPG, JPEG, or PNG</span>
                <span>Image sizes: 1040 × 1   040</span>
                <span>Max file size: 10 MB</span>
            </div>
            <div class="wrap-section" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`">
                <div class="wrap-image">
                    <div class="display-wrap">
                        <div class="display-image" v-if="showDisplayImage" :style="`border-radius: ${settingImage.cornerRadius}; width: ${settingImage.width}; height: ${settingImage.height};`">
                            <img :style="`object-fit: ${settingImage.contents[0].aspectMode};`" :src="settingImage.contents[0].url" alt="">
                        </div>
                        <div :class="classes" :style="`color: ${settingText.color};`" v-if="showDisplayName">{{settingText.text}}</div>
                    </div>
                    <div class="upload-wrap">
                        <upload
                            :imagePreview="imagePreview"
                            :value="item.data.body.contents[0].contents[0].url"
                            :min="10"
                            :uploadUrl="uploadUrl"
                            @input="onImageUpload"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SwitchToggle from '../../SwitchToggle'
import BaseSelectOption from '../../BaseSelectOption'
import Colorpicker from '../../Colorpicker'
import Upload from './Upload'

export default {
    props: ['item', 'uploadUrl'],
    components: {
        SwitchToggle,
        BaseSelectOption,
        Colorpicker,
        Upload,
    },
    mounted() {
        const box = this.item.data.body.contents[0].contents
        if(box.length > 1) {
            const subBox = this.item.data.body.contents[0].contents[1].contents
            const valueDisplayImage = subBox.find(item => item.type === 'box')
            if(valueDisplayImage) {
                this.showDisplayImage = true
            }
            else {
                this.showDisplayImage = false
            }
            const valueDisplayName = subBox.find(item => item.type === 'text')
            if(valueDisplayName) {
                this.showDisplayName = true
            }
            else {
                this.showDisplayName = false
            }
        }
        else {
            this.showDisplayImage = false
            this.showDisplayName = false
        }
        const action = this.item.data.body.action
        if(action) {
            this.showAction = true
        }
        else {
            this.showAction = false
        }
    },
    data() {
        return {
            color: '#000000',
            validURI: true,
            imagePreview: {
                width: 300,
                height: 300
            },
            showDisplayImage: false,
            showDisplayName: false,
            showAction: false,
            textSizeList: [
                'xxs',
                'xs',
                'sm',
                'md',
                'lg',
                'xl',
                'xxl',
                '3xl',
                '4xl',
                '5xl',
            ],
            textWeightList: [
                {
                    value: 'regular',
                    text: 'Regular',
                },
                {
                    value: 'bold',
                    text: 'Bold',
                }
            ],
            textStyleList: [
                {
                    value: 'normal',
                    text: 'Normal',
                },
                {
                    value: 'italic',
                    text: 'Italic',
                }
            ],
            actionList: [
                {
                    value: 'message',
                    text: 'Text Reply'
                },
                {
                    value: 'uri',
                    text: 'Link & Tel'
                }
            ]
        }
    },
    computed: {
        settingText() {
            const box = this.item.data.body.contents[0].contents
            if(box.length > 1) {
                const subBox = [...this.item.data.body.contents[0].contents[1].contents]
                const newSubBox = subBox.find(item => item.type === 'text')
                if(newSubBox) {
                    return newSubBox
                }
                else {
                    return undefined
                }
            }
        },
        settingImage() {
            const box = this.item.data.body.contents[0].contents
            if(box.length > 1) {
                const subBox = [...this.item.data.body.contents[0].contents[1].contents]
                const newSubBox = subBox.find(item => item.type === 'box')
                if(newSubBox) {
                    return newSubBox
                }
                else {
                    return undefined
                }
            }
        },
        classes() {
            return {
                'display-name': true,
                'text-xxs': this.settingText.size === 'xxs',
                'text-xs': this.settingText.size === 'xs',
                'text-sm': this.settingText.size === 'sm',
                'text-md': this.settingText.size === 'md',
                'text-lg': this.settingText.size === 'lg',
                'text-xl': this.settingText.size === 'xl',
                'text-xxl': this.settingText.size === 'xxl',
                'text-3xl': this.settingText.size === '3xl',
                'text-4xl': this.settingText.size === '4xl',
                'text-5xl': this.settingText.size === '5xl',
                'text-regular': this.settingText.weight === 'regular',
                'text-bold': this.settingText.weight === 'bold',
                'text-normal': this.settingText.style === 'normal',
                'text-italic': this.settingText.style === 'italic',
            };
        },
    },
    methods: {
        onUriKeyup(event) {
            try {
                const link = new URL(event.target.value)
                const protocol = link.protocol
                if(protocol === 'https:' || protocol === 'http:' || protocol === 'tel:' || protocol === 'mailto:'|| protocol === 'line:'|| protocol === 'linemusic:') {
                    this.validURI = true
                }
                else {
                    this.validURI = false
                }
            }
            catch (_) {
                this.validURI = false
            }
        },
        onValueInput(event, key) {
            const newItem = {...this.item}
            if(key === 'message') {
                newItem.data.body.action.text = event.target.value
            }
            else if(key === 'uri') {
                newItem.data.body.action.linkUri = event.target.value
            }
            this.$emit('onChange', this.item, newItem.data)
        },
        onDisplayImageToggle(value) {
            this.showDisplayImage = value
            const newItem = {...this.item}
            const box = [...this.item.data.body.contents[0].contents]
            if(box.length > 1) {
                if(value) {
                    const defaultItem = {
                        "type": "box",
                        "layout": "vertical",
                        "contents": [
                            {
                                "type": "image",
                                "url": "https://scdn.line-apps.com/n/channel_devcenter/img/flexsnapshot/clip/clip13.jpg",
                                "size": "full",
                                "aspectMode": "cover"
                            }
                        ],
                        "width": "65px",
                        "height": "65px",
                        "cornerRadius": "100px"
                    }
                    newItem.data.body.contents[0].contents[1].contents.unshift(defaultItem)
                }
                else {
                    const subBox = [...this.item.data.body.contents[0].contents[1].contents]
                    if(subBox.length > 1) {
                        const newSubBox = subBox.filter(item => item.type !== 'box')
                        newItem.data.body.contents[0].contents[1].contents = newSubBox
                    }
                    else {
                        newItem.data.body.contents[0].contents.pop()
                    }
                }
            }
            else {
                if(value) {
                    const defaultItem = {
                        "type": "box",
                        "layout": "horizontal",
                        "contents": [
                            {
                                "type": "box",
                                "layout": "vertical",
                                "contents": [
                                    {
                                        "type": "image",
                                        "url": "https://scdn.line-apps.com/n/channel_devcenter/img/flexsnapshot/clip/clip13.jpg",
                                        "size": "full",
                                        "aspectMode": "cover"
                                    }
                                ],
                                "width": "65px",
                                "height": "65px",
                                "cornerRadius": "100px"
                            }
                        ],
                        "paddingAll": "20px",
                        "flex": 0,
                        "position": "absolute",
                        "spacing": "xl"
                    }
                    newItem.data.body.contents[0].contents.push(defaultItem)
                }
                else {}
            }
            this.$emit('onChange', this.item, newItem.data)
        },
        onDisplayNameToggle(value) {
            this.showDisplayName = value
            const newItem = {...this.item}
            const box = [...this.item.data.body.contents[0].contents]
            if(box.length > 1) {
                if(value) {
                    const defaultItem = {
                        "type": "text",
                        "text": "Display_Name",
                        "size": "sm",
                        "color": "#7D8391",
                        "align": "center",
                        "gravity": "center",
                        "weight": "regular",
                        "style": "normal"
                    }
                    newItem.data.body.contents[0].contents[1].contents.push(defaultItem)
                }
                else {
                    const subBox = [...this.item.data.body.contents[0].contents[1].contents]
                    if(subBox.length > 1) {
                        const newSubBox = subBox.filter(item => item.type !== 'text')
                        newItem.data.body.contents[0].contents[1].contents = newSubBox
                    }
                    else {
                        newItem.data.body.contents[0].contents.pop()
                    }
                }
            }
            else {
                if(value) {
                    const defaultItem = {
                        "type": "box",
                        "layout": "horizontal",
                        "contents": [
                            {
                                "type": "text",
                                "text": "Display_Name",
                                "size": "sm",
                                "color": "#7D8391",
                                "align": "center",
                                "gravity": "center",
                                "weight": "regular",
                                "style": "normal"
                            }
                        ],
                        "paddingAll": "20px",
                        "flex": 0,
                        "position": "absolute",
                        "spacing": "xl"
                    }
                    newItem.data.body.contents[0].contents.push(defaultItem)
                }
                else {}
            }
            this.$emit('onChange', this.item, newItem.data)
        },
        onSettingInput(value, key) {
            const newItem = {...this.item}
            const box = newItem.data.body.contents[0].contents
            if(box.length > 1) {
                const subBox = box[1].contents
                const newSubBox = subBox.find(item => item.type === 'text')
                newSubBox[key] = value
            }
            this.$emit('onChange', this.item, newItem.data)
        },
        onActionToggle(value) {
            this.showAction = value
            const newItem = {...this.item}
            if(value) {
                const defaultItem = {
                    "label": "action",
                    "type": "message",
                    "text": "",
                }
                newItem.data.body.action = defaultItem
                this.$emit('onChange', this.item, newItem.data)
            }
            else {
                const newItem = {...this.item}
                delete newItem.data.body.action
                this.$emit('onChange', this.item, newItem.data)
            }
        },
        onTypeChange(value) {
            const newItem = {...this.item}
            const defaultMessageItem = {
                "label": "action",
                "type": "message",
                "text": "",
            }
            const defaultUriItem = {
                "label": "action",
                "type": "uri",
                "linkUri": "",
            }
            if(value === 'message') {
                newItem.data.body.action = defaultMessageItem
            }
            else {
                newItem.data.body.action = defaultUriItem
            }
            this.$emit('onChange', this.item, newItem.data)
        },
        onImageUpload(data) {
            const newItem = {...this.item}
            newItem.data.body.contents[0].contents[0].url = data
            this.$emit('onChange', this.item, newItem.data)
        }
    },
}
</script>

<style scoped>
.personalize-wrap {
    display: flex;
}
.personalize-wrap .section-left {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 35%;
    margin-top: 90px;
}
.personalize-wrap .section-right {
    width: 65%;
}
.personalize-des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 386px;
    margin: 0 auto 24px;
}
.wrap-section {
    position: relative;
    margin: 0 auto;
}
.wrap-image {
    width: 100%;
    height: 100%;
}
.display-wrap {
    position: absolute;
    z-index: 100;
    padding: 20px;
    display: flex;
}
.display-image {
    background-color: rgba(196, 196, 196, 1);
    margin-right: 16px;
    overflow: hidden;
}
.display-image img {
    width: 100%;
    height: 100%;
}
.display-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-xxs {
    font-size: 11px !important;
}
.text-xs {
    font-size: 13px !important;
}
.text-sm {
    font-size: 14px !important;
}
.text-md {
    font-size: 16px !important;
}
.text-lg {
    font-size: 19px !important;
}
.text-xl {
    font-size: 22px !important;
}
.text-xxl {
    font-size: 29px !important;
}
.text-3xl {
    font-size: 35px !important;
}
.text-4xl {
    font-size: 48px !important;
}
.text-5xl {
    font-size: 74px !important;
}
.text-regular {
    font-weight: normal !important;
}
.text-bold {
    font-weight: bold !important;
}
.text-normal {
    font-style: normal !important;
}
.text-italic {
    font-style: italic !important;
}
</style>