<template>
    <fragment>
        <div class="wrap" :class="{'is-invalid': formDirty && required && value.length === 0, }">
            <button type="button" class="btn btn-outline-primary px-12" @click="$emit('open')">
                <span class="mr-5">{{ label }}</span>
                <i :class="icon"></i>
            </button>
        </div>
        <v-overlay :value="visible" :z-index="99999" color="rgb(230, 230, 230)" :dark="false">
            <div class="message-type-menu">
                <div class="message-type-menu_title">Message Type</div>
                <div class="message-type-menu_items">
                    <div
                        class="message-type-menu_item"
                        v-for="(messageType, messageTypeIndex) in messageTypes"
                        :key="messageTypeIndex"
                        @click="onMessageTypeClick(messageType)"
                    >
                        <div class="message-type-menu_item_icon">
                            <span :class="messageType.iconName"/>
                        </div>
                        <div class="message-type-menu_item_label">{{messageType.name}}</div>
                    </div>
                </div>
            </div>
            <div class="message-type-content">
                <div class="message-type-content_header">
                    <button
                        type="button"
                        class="btn btn-danger btn-sm font-weight-bolder"
                        style="width: 80px; margin-right: 10px"
                        @click="cancelMessages"
                    >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary btn-sm font-weight-bolder"
                        style="width: 80px"
                        @click="saveMessages"
                    >
                        Save
                    </button>
                </div>
                <div class="message-type-content_body">
                    <v-alert
                        shaped
                        prominent
                        type="error"
                        v-model="alertShow"
                        transition="scroll-y-transition"
                        dismissible
                    >
                        <div>
                            <h4 v-for="(item, index) in errorList" :key="index">
                                - {{item}}
                            </h4>
                        </div>
                    </v-alert>
                    <div v-if="messages.length > 0">
                        <message-card
                            v-for="(item, index) in messages"
                            :key="index"
                            :item="item"
                            :index="index"
                            :uploadUrl="uploadUrl"
                            :hideTypeTextActionList="hideTypeTextActionList"
                            :showTypeTextActionLastName="showTypeTextActionLastName"
                            :hideTypeTextActionDisplayName="hideTypeTextActionDisplayName"
                            :typeTextActionList="typeTextActionList"
                            @onDownClick="onDownClick(index)"
                            @onUpClick="onUpClick(index)"
                            @onDeleteClick="onDeleteClick(item.id)"
                            @onChange="(item, value) => onMessagePayloadChange(item, value)"
                        />
                    </div>
                    <empty-message v-else />
                </div>
            </div>
        </v-overlay>
    </fragment>
</template>

<script>

import EmptyMessage from './EmptyMessage'
import MessageCard from './MessageCard'
import { cloneDeep } from 'lodash'

export default {
    props: [
        'label',
        'icon',
        'required',
        'value',
        'formDirty',
        'visible',
        'uploadUrl',
        'messageList',
        'hideTypeTextActionList',
        'showTypeTextActionLastName',
        'hideTypeTextActionDisplayName',
        'typeTextActionList',
    ],
    components: {
        EmptyMessage,
        MessageCard,
    },
    mounted() {
        let items = []
        if(this.value.length > 0) {
            items = this.value.map((message, messageIndex) => {
                return {
                    id: messageIndex + 1,
                    displayType: this.checkDisplayType(message.type),
                    data: message
                }
            })
        }
        this.messages = cloneDeep(items)
        this.messages = items

        let menus = []
        if(this.messageList && this.messageList.length > 0) {
            for (let index = 0; index < this.messageList.length; index++) {
                const element = this.messageList[index];
                const messageType = this.messageTypes.find(item => item.name === element)
                if(messageType) {
                    menus.push(messageType)
                }
            }
            this.messageTypes = menus
        }
    },
    updated() {
        if (this.cancel) {
            let items = []
            if(this.value.length > 0) {
                items = this.value.map((message, messageIndex) => {
                    return {
                        id: messageIndex + 1,
                        displayType: this.checkDisplayType(message.type),
                        data: message
                    }
                })
            }
            this.messages = cloneDeep(items)
        }

        this.cancel = false
    },
    data() {
        return {
            messages: [],
            cancel: false,
            errorList: [],
            alertShow: false,
            messageTypes: [
                {
                    iconName: 'far fa-window-maximize',
                    name: 'Custom',
                    data: {
                        type: "text",
                        text: "",
                    },
                },
                {
                    iconName: 'fas fa-i-cursor',
                    name: 'Text',
                    data: {
                        type: "text",
                        text: "",
                    }
                },
                {
                    iconName: 'fas fa-image',
                    name: 'Image',
                    data: {
                        type: "image",
                        originalContentUrl: "",
                        previewImageUrl: "",
                    },
                },
                {
                    iconName: 'fas fa-video',
                    name: 'Video',
                    data: {
                        type: "video",
                        originalContentUrl: "",
                        previewImageUrl: "",
                    },
                },
                {
                    iconName: 'fas fa-th-large',
                    name: 'Rich Message',
                    data: {
                        type: "imagemap",
                        baseUrl: "",
                        altText: "",
                        baseSize: {
                            width: 240,
                            height: 240,
                        },
                        actions: []
                    },
                },
                {
                    iconName: 'fas fa-user-edit',
                    name: 'Personalize',
                    data: {
                        "type": "personalize",
                        "body": {
                            "type": "box",
                            "layout": "vertical",
                            "contents": [
                                {
                                    "type": "box",
                                    "layout": "horizontal",
                                    "contents": [
                                        {
                                            "type": "image",
                                            "url": "",
                                            "size": "full",
                                            "gravity": "center",
                                            "aspectMode": "cover"
                                        },
                                        {
                                            "type": "box",
                                            "layout": "horizontal",
                                            "contents": [
                                                {
                                                    "type": "box",
                                                    "layout": "vertical",
                                                    "contents": [
                                                        {
                                                            "type": "image",
                                                            "url": "https://scdn.line-apps.com/n/channel_devcenter/img/flexsnapshot/clip/clip13.jpg",
                                                            "size": "full",
                                                            "aspectMode": "cover"
                                                        }
                                                    ],
                                                    "width": "65px",
                                                    "height": "65px",
                                                    "cornerRadius": "100px"
                                                },
                                                {
                                                    "type": "text",
                                                    "text": "Display_Name",
                                                    "size": "sm",
                                                    "color": "#7D8391",
                                                    "align": "center",
                                                    "gravity": "center",
                                                    "weight": "regular",
                                                    "style": "normal"
                                                }
                                            ],
                                            "paddingAll": "20px",
                                            "flex": 0,
                                            "position": "absolute",
                                            "spacing": "xl"
                                        }
                                    ]
                                }
                            ],
                            "paddingAll": "0px"
                        }
                    },
                },
            ],
        }
    },
    methods: {
        onDownClick(currentIndex) {
            const downIndex = currentIndex + 1
            const messages = JSON.parse(JSON.stringify(this.messages))
            if ( downIndex < messages.length) {
                const currentIndexMessage = { ...messages[currentIndex] }
                messages[currentIndex] = messages[downIndex]
                messages[downIndex] = currentIndexMessage
                this.messages = messages
            }
        },
        onUpClick(currentIndex) {
            const upIndex = currentIndex - 1
            const messages = JSON.parse(JSON.stringify(this.messages))
            if ( upIndex >= 0) {
                const currentIndexMessage = { ...messages[currentIndex] }
                messages[currentIndex] = messages[upIndex]
                messages[upIndex] = currentIndexMessage
                this.messages = messages
            }
        },
        onDeleteClick(id) {
            const messages = JSON.parse(JSON.stringify(this.messages))
            const newMessages = messages.filter(message => message.id !== id)
            this.messages = newMessages
        },
        onMessagePayloadChange(item, value) {
            const messages = JSON.parse(JSON.stringify(this.messages))
            const messageIndex = messages.findIndex(message => message.id === item.id)
            const message = { ...messages[messageIndex], data: value }
            messages[messageIndex] = message
            this.messages = messages
        },
        checkDisplayType(type) {
            if (type === 'text') return 'Text'
            else if (type === 'image') return 'Image'
            else if (type === 'video') return 'Video'
            else if (type === 'imagemap') return 'Rich Message'
            else if (type === 'carousel') return 'Card-based'
            else if (type === 'bubble') return 'Bubble'
            else if (type === 'personalize') return 'Personalize'
        },
        cancelMessages() {
            if(this.value.length > 0) {
                let items = []
                if(this.value.length > 0) {
                    items = this.value.map((message, messageIndex) => {
                        return {
                            id: messageIndex + 1,
                            displayType: this.checkDisplayType(message.type),
                            data: message
                        }
                    })
                }
                this.messages = items
            }
            else {
                this.messages = []
            }
            this.cancel = true
            this.$emit('close')
        },
        saveMessages() {
            let errorList = []
            const messages = JSON.parse(JSON.stringify(this.messages))
            const datas = messages.map(message => {
                return message.data
            })
            messages.map((message, index) => {
                if(message.data.type === 'text' && !message.data.text) {
                    errorList.push(`Please Add Data at ${message.displayType} #${index + 1}`)
                }
                else if((message.data.type === 'video' || message.data.type === 'image') && !message.data.originalContentUrl) {
                    errorList.push(`Please Add Data at ${message.displayType} #${index + 1}`)
                }
                else if(message.data.type === 'imagemap') {
                    let validUri = true
                    message.data.actions.map(action => {
                        if(action.linkUri) {
                            try {
                                const link = new URL(action.linkUri)
                                const protocol = link.protocol
                                if(protocol === 'https:' || protocol === 'http:' || protocol === 'tel:' || protocol === 'mailto:'|| protocol === 'line:'|| protocol === 'linemusic:') {
                                    validUri = true
                                }
                                else {
                                    validUri = false
                                }
                            }
                            catch (_) {
                                validUri = false
                            }
                        }
                    })
                    if(!message.data.baseUrl) {
                        errorList.push(`Please Add Data at ${message.displayType} #${index + 1}`)
                    }
                    else if(message.data.actions.find(action => action.linkUri === '' || action.text === '')) {
                        errorList.push(`Please Add Data at ${message.displayType} #${index + 1}`)
                    }
                    else if(!validUri) {
                        errorList.push(`URI must be https, http, tel, mailto, line, linemusic at ${message.displayType} #${index + 1}`)
                    }
                }
                else if(message.data.type === 'personalize') {
                    const validImage = message.data.body.contents[0].contents[0].url !== ''
                    if(!validImage) {
                        errorList.push(`Please Upload Image at ${message.displayType}`)
                    }

                    if(message.data.body.action && message.data.body.action.type === 'message' && message.data.body.action.text === '') {
                        errorList.push(`Please Input Action Text Reply at ${message.displayType}`)
                    }

                    if(message.data.body.action && message.data.body.action.type === 'uri' && message.data.body.action.linkUri === '') {
                        errorList.push(`Please Input Action Uri at ${message.displayType}`)
                    }

                    let validUri = true
                    if(message.data.body.action && message.data.body.action.type === 'uri') {
                        if(message.data.body.action.linkUri) {
                            try {
                                const link = new URL(message.data.body.action.linkUri )
                                const protocol = link.protocol
                                if(protocol === 'https:' || protocol === 'http:' || protocol === 'tel:' || protocol === 'mailto:'|| protocol === 'line:'|| protocol === 'linemusic:') {
                                    validUri = true
                                }
                                else {
                                    validUri = false
                                }
                            }
                            catch (_) {
                                validUri = false
                            }
                        }
                    }
                    if(!validUri) {
                        errorList.push(`URI must be https, http, tel, mailto, line, linemusic at ${message.displayType}`)
                    }
                }
            })
            if(errorList.length !== 0) {
                this.errorList = errorList
                this.alertShow = true
                return
            }
            this.alertShow = false
            this.errorList = []
            this.$emit('submit', datas)
        },
        onMessageTypeClick(messageType) {
            const messages = JSON.parse(JSON.stringify(this.messages))
            const newMessageType = JSON.parse(JSON.stringify(messageType))
            if(messages.length >= 5) {
                this.$toast.error('Message type limit 5 message.')
                return
            }
            else {
                messages.push({
                    id: messages.length + 1,
                    displayType: newMessageType.name,
                    data: newMessageType.data
                })
                this.messages = messages
            }
        }
    }
}
</script>

<style scoped>
.wrap {
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}
.wrap.is-invalid {
    border: 1px solid #F64E60;
}
::v-deep .v-overlay__content {
    position: absolute;
    top: 16px;
    left: auto;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    outline: none;
    width: 80%;
}
.message-type-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    margin-right: 12px;
    width: 20%;
    min-width: 230px;
    max-width: 230px;
    background-color: #FFFFFF;
    padding: 16px 20px 20px;
}
.message-type-menu_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
    margin-bottom: 8px;
}
.message-type-menu_items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 45% 45%;
    width: 100%;
}
.message-type-menu_item {
    text-align: center;
    cursor: pointer;
}
.message-type-menu_item_icon {
    height: 60px;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;

}
.message-type-menu_item_icon > span {
    font-size: 28px;
    color: #C1C1C1;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item_label {
    font-size: 12px;
    font-weight: 600;
    color: #9A9A9A;
    transition: color 0.4s ease-in-out;

}
.message-type-menu_item.active .message-type-menu_item_icon {
    border: 1px solid #27BA08;
}
.message-type-menu_item:hover .message-type-menu_item_icon {
    border: 1px solid #27BA08;
    background-color: rgba(0,185,0,0.1);
}
.message-type-menu_item.active .message-type-menu_item_icon > span,
.message-type-menu_item.active .message-type-menu_item_label,
.message-type-menu_item:hover .message-type-menu_item_icon > span,
.message-type-menu_item:hover .message-type-menu_item_label {
    color: #27BA08;
}
.message-type-content {
    background-color: #F0F4F7;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    width: 80%;
    height: 100%;
    /* overflow: auto; */
    position: relative;
}
.message-type-content_header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}
.message-type-content_body {
    padding: 74px 24px 24px;
    overflow: auto;
    height: 100%;
}
</style>