<template>
    <div class="message-type-card" v-if="data !== null">
        <div class="message-type-card_header">
            <div class="message-type-card_header-title">{{index + 1}}. {{checkDisplayType(item.displayType)}}</div>
            <div class="message-type-card_header-action">
                <div class="message-type-card_header-action-button" @click="$emit('onDownClick')">
                    <span class="flaticon2-down" />   
                </div>
                <div class="message-type-card_header-action-button" @click="$emit('onUpClick')">
                    <span class="flaticon2-up" /> 
                </div>
                <div class="message-type-card_header-action-button">
                    <span class="flaticon2-rubbish-bin-delete-button" @click="$emit('onDeleteClick')"/> 
                </div>
            </div>
        </div>
        <div class="message-type-card_body">
            <template v-if="item.displayType === 'Text'">
                <type-text
                    :item="item"
                    :id="uuid.v4()"
                    :hideTypeTextActionList="hideTypeTextActionList"
                    :showTypeTextActionLastName="showTypeTextActionLastName"
                    :hideTypeTextActionDisplayName="hideTypeTextActionDisplayName"
                    :typeTextActionList="typeTextActionList"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
            <template v-else-if="item.displayType === 'Image'">
                <type-image
                    :item="item"
                    :id="uuid.v4()"
                    :uploadUrl="uploadUrl"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
            <template v-else-if="item.displayType === 'Video'">
                <type-video
                    :item="item"
                    :id="uuid.v4()"
                    :uploadUrl="uploadUrl"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
            <template v-else-if="item.displayType === 'Rich Message'">
                <type-rich-message
                    :item="item"
                    :id="uuid.v4()"
                    :uploadUrl="uploadUrl"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
            <template v-else-if="item.displayType === 'Personalize'">
                <type-personalize
                    :item="item"
                    :id="uuid.v4()"
                    :uploadUrl="uploadUrl"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
            <template v-else>
                <type-custom
                    :item="item"
                    :id="uuid.v4()"
                    @onChange="(item, value) => $emit('onChange', item, value)"
                />
            </template>
        </div>
    </div>
</template>

<script>
import { uuid } from "vue-uuid"

import TypeCustom from './TypeCustom'
import TypeText from './TypeText'
import TypeImage from './TypeImage'
import TypeVideo from './TypeVideo'
import TypeRichMessage from './TypeRichMessage/Index'
import TypePersonalize from './TypePersonalize/Index'

export default {
    props: ['item', 'index', 'uploadUrl', 'hideTypeTextActionList', 'showTypeTextActionLastName', 'hideTypeTextActionDisplayName', 'typeTextActionList'],
    components: {
        TypeCustom,
        TypeText,
        TypeImage,
        TypeVideo,
        TypeRichMessage,
        TypePersonalize,
    },
    data() {
        return {
            uuid,
            data: null
        }
    },
    mounted() {
        this.data = this.item
    },
    updated() {
        this.data = this.item
    },
    methods: {
        checkDisplayType(type) {
            if (type === 'Text' || type === 'Image' || type === 'Video' || type === 'Rich Message' || type === 'Personalize') return type
            else return 'Custom'
        }
    },
}
</script>

<style scoped>
.message-type-card {
    width: 100%;
    min-height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 32px;
}
.message-type-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;
}
.message-type-card_header-title {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}
.message-type-card_header-action {
    display: flex;
    align-items: center;
}
.message-type-card_header-action-button {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px;
    cursor: pointer;
}
.message-type-card_header-action-button span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    transition: color 0.15s ease-in-out;
}
.message-type-card_header-action-button:hover span {
    color: rgba(0, 0, 0, 0.7);
}
.message-type-card_body {
    padding: 8px 24px 32px;
    color: rgba(0, 0, 0, 0.7);
}
</style>