<template>
    <div class="wrap">
        <div class="wrap-section" :style="`${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`">
            <div class="wrap-image">
                <div class="display-wrap">
                    <div
                        class="display-image"
                        v-if="message.body.contents[0].contents[1].contents.find(item => item.type === 'box')"
                        :style="`border-radius: 100px; width: 65px; min-width: 65px; height: 65px;`"
                    >
                        <img
                            :style="`object-fit: cover`"
                            :src="message.body.contents[0].contents[1].contents.find(item => item.type === 'box').contents[0].url"
                            alt=""
                        >
                    </div>
                    <div
                        :class="classes"
                        :style="`color: ${message.body.contents[0].contents[1].contents.find(item => item.type === 'text').color};`"
                        v-if="message.body.contents[0].contents[1].contents.find(item => item.type === 'text')"
                    >{{message.body.contents[0].contents[1].contents.find(item => item.type === 'text').text}}</div>
                </div>
                <div class="upload-wrap">
                    <img :src="message.body.contents[0].contents[0].url" alt="" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Upload from './TypePersonalize/Upload'

export default {
    components: {
        Upload,
    },
    props: ['message'],
    data() {
        return {
            imagePreview: {
                width: 300,
                height: 300
            },
        }
    },
    mounted() {
        console.log('message', this.message)
    },
    updated() {
        console.log('message', this.message)
    },
    computed: {
        classes() {
            const size = this.message.body.contents[0].contents[1].contents.find(item => item.type === 'text').size
            const weight = this.message.body.contents[0].contents[1].contents.find(item => item.type === 'text').weight
            const style = this.message.body.contents[0].contents[1].contents.find(item => item.type === 'text').style
            return {
                'display-name': true,
                'text-xxs': size === 'xxs',
                'text-xs': size === 'xs',
                'text-sm': size === 'sm',
                'text-md': size === 'md',
                'text-lg': size === 'lg',
                'text-xl': size === 'xl',
                'text-xxl': size === 'xxl',
                'text-3xl': size === '3xl',
                'text-4xl': size === '4xl',
                'text-5xl': size === '5xl',
                'text-regular': weight === 'regular',
                'text-bold': weight === 'bold',
                'text-normal': style === 'normal',
                'text-italic': style === 'italic',
            };
        },
    }
}
</script>

<style scoped>
.wrap {
    border-radius: 6px;
    overflow: hidden;
    margin-right: 12px;
    margin-bottom: 12px;
}
.wrap-section {
    position: relative;
    margin: 0 auto;
}
.wrap-image {
    width: 100%;
    height: 100%;
}
.display-wrap {
    position: absolute;
    z-index: 100;
    padding: 20px;
    display: flex;
    width: 100%;
}
.display-image {
    background-color: rgba(196, 196, 196, 1);
    margin-right: 16px;
    overflow: hidden;
}
.display-image>img {
    width: 100%;
    height: 100%;
}
.display-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-xxs {
    font-size: 11px !important;
}
.text-xs {
    font-size: 13px !important;
}
.text-sm {
    font-size: 14px !important;
}
.text-md {
    font-size: 16px !important;
}
.text-lg {
    font-size: 19px !important;
}
.text-xl {
    font-size: 22px !important;
}
.text-xxl {
    font-size: 29px !important;
}
.text-3xl {
    font-size: 35px !important;
}
.text-4xl {
    font-size: 48px !important;
}
.text-5xl {
    font-size: 74px !important;
}
.text-regular {
    font-weight: normal !important;
}
.text-bold {
    font-weight: bold !important;
}
.text-normal {
    font-style: normal !important;
}
.text-italic {
    font-style: italic !important;
}
.upload-wrap img {
    width: 100%;
    height: 100%;
}
</style>