<template>
    <div class="wrap">
        <img :src="message.baseUrl" alt="">
    </div>
</template>

<script>
export default {
    props: ['message'],
}
</script>

<style scoped>
.wrap {
    border-radius: 6px;
    overflow: hidden;
    margin-right: 12px;
    margin-bottom: 12px;
}
.wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
</style>