<template>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <textarea
                class="form-control"
                rows="5"
                placeholder="Enter text"
                :maxLength="maxLength ? maxLength : '5000'"
                :value="text"
                :id="id"
                @input="onInputChange"
            ></textarea>
            <p class="form-text text-right text-muted">
                <strong>{{text.length}}</strong>
                <span>/{{maxLength ? maxLength : 5000}}</span>
            </p>
            <div class="btn-toolbar align-items-center" v-if="!hideTypeTextActionList">
                <div v-if="typeTextActionList">
                    <button
                        @click="insertLabel(item.label)"
                        type="button"
                        class="btn btn-outline-secondary mr-2"
                        :disabled="text.length > item.count"
                        v-for="(item, index) in actionList"
                        :key="index"
                    >
                        {{item.name}}
                    </button>
                </div>
                <div v-else>
                    <!-- <button type="button" class="btn btn-outline-secondary mr-2">Emoji</button> -->
                    <button @click="insertLabel(` [Display Name] `)" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4984" v-if="!hideTypeTextActionDisplayName">User's display name</button>
                    <button @click="insertLabel(` [First Name] `)" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4986">User's first name</button>
                    <button @click="insertLabel(` [Last Name] `)" type="button" class="btn btn-outline-secondary mr-2" :disabled="text.length > 4988" v-if="showTypeTextActionLastName">User's last name</button>
                </div>
            </div>
            <small class="form-text text-muted mt-2">Messages containing users' display names will only appear for recipients whose profiles you have permission to view.</small>
        </div>
    </div>
</template>

<script>
export default {
    props: ['maxLength', 'item', 'id', 'hideTypeTextActionList', 'showTypeTextActionLastName', 'hideTypeTextActionDisplayName', 'typeTextActionList'],
    data() {
        return {
            text: '',
            messages: null,
            actionList: [
                {
                    name: 'Display Name',
                    label: ` [Display Name] `,
                    count: 4984
                },
                {
                    name: 'First Name',
                    label: ` [First Name] `,
                    count: 4986
                },
                {
                    name: 'Last Name',
                    label: ` [Last Name] `,
                    count: 4987
                },
                {
                    name: 'Point',
                    label: ` [Point] `,
                    count: 4991
                },
            ]
        }
    },
    mounted() {
        if(this.item.data) {
            this.text = this.item.data.text
        }

        this.messages = this.item.data

        let menus = []
        if(this.typeTextActionList && this.typeTextActionList.length > 0) {
            for (let index = 0; index < this.typeTextActionList.length; index++) {
                const element = this.typeTextActionList[index];
                const actionList = this.actionList.find(item => item.name === element)
                if(actionList) {
                    menus.push(actionList)
                }
            }
            this.actionList = menus
        }
    },
    updated() {
        if(this.item.data) {
            this.text = this.item.data.text
        }

        this.messages = this.item.data
    },
    methods: {
        onInputChange(event) {
            this.text = event.target.value
            this.messages.text = event.target.value
            this.$emit('onChange', this.item, this.messages)
        },
        insertLabel(label) {
            var target = document.getElementById(this.id);
            if (document.selection) {
                target.focus();
                sel = document.selection.createRange();
                sel.text = label;
            }
            //MOZILLA and others
            else if (target.selectionStart || target.selectionStart == "0") {
                var startPos = target.selectionStart;
                var endPos = target.selectionEnd;
                target.value =
                target.value.substring(0, startPos) +
                label +
                target.value.substring(endPos, target.value.length);
                target.focus()
            }
            else {
                target.value += label;
                target.focus()
            }

            this.text = target.value
            this.messages.text = target.value
            this.$emit('onChange', this.item, this.messages)
        },
    }
}
</script>

<style scoped>
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.42rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.card-body {
    padding: 1.25rem;
}
</style>