<template>
    <div v-if="item">
        <v-jsoneditor v-model="messages" :options="{
            onChange: onChange,
            mode: 'code',
            mainMenuBar: false
        }" height="300px"/>
    </div>
</template>

<script>
import VJsoneditor from 'v-jsoneditor'

export default {
    props: ['item'],
    components: {
        VJsoneditor
    },
    data() {
        return {
            messages: null
        }
    },
    mounted() {
        if(this.item) {
            this.messages = this.item.data
        }
    },
    updated() {
        console.log("updated Custom", this.item.data)
        if(this.item) {
            this.messages = this.item.data
        }
    },
    methods: {
        onChange() {
            this.$emit('onChange', this.item, this.messages)
        }
    }
}
</script>

<style scoped>

</style>