<template>
    <div :id="element"></div>
</template>

<script>
var Highcharts = require('highcharts')

export default {
    props: ['title', 'series', 'categories', 'element', 'seriesName', 'color'],
    computed: {
        options() {
            return {
                series: this.series,
                chart: {
                    height: 280,
                    type: 'area',
                    toolbar: {
                        show: false,
                    },
                    zoom: {
                        enabled: false,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'category',
                    categories: this.categories
                },
                tooltip: {},
                colors: this.color
            }
        }
    },
    mounted() {
        this.target =  new ApexCharts(this.$el, this.options)
        this.target.render()
    },
    beforeDestroy() {
        this.target.destroy()
    }
}
</script>