<template>
    <div :id="element"></div>
</template>

<script>
var Highcharts = require('highcharts')

const primary = '#6993FF'
const success = '#1BC5BD'
const info = '#115ECF'
const warning = '#FFA800'
const danger = '#F64E60'
export default {
    props: ['title', 'series', 'categories', 'element', 'seriesName'],
    computed: {
        options() {
            return {
                title: {
                    text: 'Auto-response message send',
                    margin: 25
                },
                credits: {
                    enabled: false,
                },
                subtitle: {
                    text: ''
                },

                yAxis: {
                    title: {
                        text: ''
                    }
                },

                xAxis: {
                    type: 'datetime',
                    labels: {
                        format: '{value:%d/%m/%Y}',
                    }
                },

                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 2010
                    }
                },

                series: this.series,

                responsive: {
                    rules: [
                        {
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }
                    ]
                }
            }
        }
    },
    mounted() {
        this.target = Highcharts.chart(this.$el, this.options)
    },
    beforeDestroy() {
        this.target.destroy()
    }
}
</script>