@import "./vuetify-ui.scss";
@import "./message-alert.scss";

html,
body {
    min-height: 100%;
    height: auto;
}

#app {
    font-family: inherit;
    color: #444;
    // font-family: Poppins, Kanit, Helvetica, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    height: auto;
}

.card-list {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card-add {
    width: 200px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    // margin: 10px;
    box-shadow:
    rgba(black, 0.66) 0 20px 30px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    margin: 50px 90px;

    &:hover {
        box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 20px 30px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
    }
}

.symbol img {
    object-fit: cover;
}

.datepicker {
    z-index: 100 !important
}