@media (min-width: 1264px) {
    .container {
        max-width: 1368px;
    }
}

@media (min-width: 1904px) {
    .container {
        max-width: 1785px;
    }
}

.v-data-table thead th {
    font-size: 0.9rem !important;
    color: #B5B5C3 !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.v-data-table thead th.active,
.v-data-table thead th.active i {
    color: #27BA08 !important;
}

.v-data-table tbody td {
    font-size: 13px !important;
    height: 62px !important;
}

.v-navigation-drawer--absolute {
    position: fixed !important;
}

.v-list-item__content .v-list-item__title {
    font-family: Poppins, Kanit, Helvetica, "sans-serif" !important;
    color: #464E5F !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 0 8px;
}

.v-menu__content .v-subheader {
    font-family: Poppins, Kanit, Helvetica, "sans-serif" !important;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    height: 30px;
}

.switch.switch-primary:not(.switch-outline) input:empty~span:before {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(39, 186, 8, .06);
}

.v-data-table__expanded__content {
    box-shadow: none !important;
}

.table-wrap .v-data-table__expanded__content td {
    padding: 8px 16px !important;
    height: 32px !important;
}

.table-wrap .v-data-table__expanded__content .colspan-wrap {
    padding: 8px 16px !important;
    height: 32px !important;
    display: flex;
    align-items: center;
}

.v-data-table__expanded__row td {
    border-bottom: 0 !important;
}