<template>
    <router-link :to="to" class="d-flex align-items-center add-btn" v-if="to">
        <div class="btn btn-icon btn-secondary mr-4">
            <i class="la la-plus-circle icon-lg"></i>
        </div>
        <div class="h5 text-dark mb-0">{{ label }}</div>
    </router-link>
    <div class="d-flex align-items-center add-btn" @click="$emit('click')" v-else>
        <div class="btn btn-icon btn-secondary mr-4">
            <i class="la la-plus-circle icon-lg"></i>
        </div>
        <div class="h5 text-dark mb-0">{{ label }}</div>
    </div>
</template>

<script>
export default {
    props: ['to', 'label']
}
</script>

<style scoped>
.add-btn {
    cursor: pointer;
    width: fit-content;
}
</style>