<template>
    <div>
        <v-autocomplete
            v-bind="$attrs"
            :class="classes"
            v-model="selected"
            :items="options"
            :label="placeholder"
            :hide-details="true"
            dense
            solo
        >
            <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
                <slot :name="name" v-bind="slotData" />
            </template>
        </v-autocomplete>
        <span class="message-error" v-if="error && errorMessage">{{errorMessage}}</span>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: ['options', 'placeholder', 'value', 'formDirty', 'error', 'errorMessage'],
    computed: {
        selected: {
            get() {return this.value},
            set(v) {this.$emit('input', v)}
        },
        classes() {
            return {
                'auto-completes': true,
                'auto-completes-error': this.error,
            };
        },
    },
}
</script>

<style scoped>
.auto-completes /deep/.v-input__slot {
    box-shadow: none !important;
    background: #ffffff !important;
    color: #464E5F;
    border: 1px solid #E5EAEE;
    
}
.auto-completes.v-input--is-disabled /deep/.v-input__slot {
    background: rgba(0, 0, 0, 0.1) !important;
    
}
.auto-completes /deep/.v-label,
.auto-completes /deep/.v-select__slot {
    font-family: Poppins, Kanit, Helvetica, "sans-serif" !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.auto-completes /deep/.v-label {
    color: #80808F!important;
}
.auto-completes /deep/.v-select__slot {
    color: #464E5F!important;
}
.auto-completes.auto-completes-error /deep/.v-input__slot {
    border: 1px solid #F64E60;
}
.message-error {
    color: #F64E60;
    font-weight: 400;
    font-size: 12px !important;
    display: block;
    margin-top: 4px;
}
</style>