<template>
<div>
    <v-select
        no-data-text="ไม่พบข้อมูล"
        :items="options"
        :label="placeholder"
        :class="classes"
        :disabled="disabled"
        v-model="selected"
        v-bind="$attrs"
        dense
        solo
        hide-details
        flat
    >
        <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
            <slot :name="name" v-bind="slotData" />
        </template>
    </v-select>
    <span class="message-error" v-if="error && errorMessage">{{errorMessage}}</span>
</div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: ['options', 'placeholder', 'value', 'formDirty', 'error', 'errorMessage', 'disabled'],
    computed: {
        selected: {
            get() {return this.value},
            set(v) {this.$emit('input', v)}
        },
        classes() {
            return {
                'select-options': true,
                'select-options-error': this.error,
            };
        },
    },
}
</script>

<style scoped>
.select-options /deep/.v-input__slot {
    box-shadow: none !important;
    background: #ffffff !important;
    color: #464E5F;
    border: 1px solid #E5EAEE;
    
}
.select-options /deep/.v-label,
.select-options /deep/.v-select__selection {
    font-family: Poppins, Kanit, Helvetica, "sans-serif" !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.select-options /deep/.v-label {
    color: #80808F!important;
}
.select-options /deep/.v-select__selection {
    color: #464E5F!important;
}
.select-options.select-options-error /deep/.v-input__slot {
    border: 1px solid #F64E60;
}
.message-error {
    color: #F64E60;
    font-weight: 400;
    font-size: 12px !important;
    display: block;
    margin-top: 4px;
}
</style>