<template>
    <div class="input-group" ref="datepickerRange">
        <input
            type="text"
            class="form-control"
            readonly="readonly"
            :placeholder="placeholder ? placeholder : 'Select date range'"
            :value="value.length > 0 ? moment(this.value[0]).subtract(7, 'hours').format('DD/MM/YYYY HH:mm') + ' - ' + moment(this.value[1]).subtract(7, 'hours').format('DD/MM/YYYY HH:mm') : ''"
            :class="{'is-invalid': formDirty && required && !value[0], 'is-valid': formDirty && required && value[0] }"
        >
        <div class="input-group-append">
            <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
        </div>
        <div v-if="formDirty && required && !value[0]" class="invalid-feedback">*This field require</div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    props: ['value', "formDirty", "placeholder", "required", "fotmat"],
    data() {
        return {
            moment,
        }
    },
    mounted() {
        setTimeout(() => {
            const ele =  $(this.$refs.datepickerRange).daterangepicker({
                buttonClasses: ' btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
                timePicker: true,
                timePicker24Hour: true,
                timePickerSeconds: true,
                locale: {
                    format: 'DD/MM/YYYY HH:mm:ss'
                },
            }, (start, end, label) => {
                this.$emit('input', [this.formatDate(start.format('DD/MM/YYYY HH:mm:ss')), this.formatDate(end.format('DD/MM/YYYY HH:mm:ss'))])
            });
        }, 1000);
    },
    methods: {
        formatDate(date) {
            console.log('date', date)
            const day = date.substring(0, 2)
            const month = date.substring(3, 5)
            const year = date.substring(6, 10)
            const hour = date.substring(11, 13)
            const minute = date.substring(14, 16)
            const second = date.substring(17, 19)

            return year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':' + second + '.000' + 'Z'
        }
    },
}
</script>