<template>
    <div>
        <span class="switch switch-sm">
            <label class="mb-0">
                <input type="checkbox" name="select" :checked="value" @change="onSwitchChange" />
                <span></span>
            </label>
        </span>
    </div>
</template>

<script>
export default {
    props: ['value'],
    methods: {
        onSwitchChange(e) {
            this.$emit('input', e.target.checked)
        }
    }
}
</script>