<template>
<div>
    <div class="input-group timepicker">
        <input
            ref="timepicker"
            :class="classes"
            readonly="readonly"
            placeholder="Select time"
            type="text"
            :value="value"
        />
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-clock-o"></i>
            </span>
        </div>
    </div>
    <div v-if="error && errorMessage" class="message-error">{{errorMessage}}</div>
</div>
</template>

<script>
export default {
    props: ["value", "formDirty", 'error', 'errorMessage', 'minuteStep'],
    mounted () {
        setTimeout(() => {
            const ele = $(this.$refs.timepicker).timepicker({
                minuteStep: this.minuteStep ? this.minuteStep : 1,
                defaultTime: '',
                snapToStep: true,
                showMeridian: false,
            })
            ele.on('changeTime.timepicker', data => {
                this.$emit("input", data.time.value);
            })
        }, 1000);
    },
    computed: {
        classes() {
            return {
                'form-control': true,
                'form-control-error': this.error,
            };
        },
    }
}
</script>

<style scoped>
.form-control-error {
    border: 1px solid #F64E60;
}
.message-error {
    color: #F64E60;
    font-weight: 400;
    font-size: 12px !important;
    display: block;
    margin-top: 4px;
}
</style>