<template>
    <div class="wrap-loading" :style="`width: ${previewWidth}; height: ${previewHeight}`" v-if="value === undefined || loading">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="wrap" :style="`width: ${previewWidth}; height: ${previewHeight}`" v-else>
        <input type="file" @change="onFileChange" id="uploader" accept="video/mp4, video/quicktime" />
        <div class="card card-custom overlay" v-if="url">
            <div class="card-body p-0">
                <div class="overlay-wrapper ">
                    <video class="w-100 rounded">
                        <source :src="url + '#t=0.001'" type="video/mp4">
                        <source :src="url + '#t=0.001'" type="video/mov">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="overlay-layer">
                    <button type="button" class="btn btn-clean btn-icon mr-2 upload-button">
                        <input type="file" @change="onFileChange" accept="video/mp4, video/quicktime" />
                        <i class="far fa-edit icon-lg text-success"></i>
                    </button>
                    <button @click="onImageRemoveClick" type="button" class="btn btn-clean btn-icon">
                        <i class="fas fa-trash-alt icon-lg text-success"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center preview-default pt-7 pb-7" v-else>
            <img src="../../assets/images/default-video.png" alt="default preview">
            <!-- <video width="320" height="240" controls>
                <source src="https://www.w3schools.com/html/movie.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video> -->
        </div>
    </div>
</template>

<script>
import axios from "axios"

export default {
    props: ['width', 'height', 'size', 'value', 'previewWidth', 'previewHeight', 'uploadUrl'],
    data() {
        return {
            url: null,
            loading: false,
        }
    },
    mounted() {
        if(this.value !== undefined) {
            this.url = this.value
        }
    },
    updated() {
        if(this.value !== undefined) {
            this.url = this.value
        }
    },
    methods: {
        onFileChange(e) {
            this.loading = true
            const file = e.target.files[0];
            if(file.size > (parseInt(this.size) * 1000000)) {
                this.$toast.error(`Maximum upload file size is ${this.size} MB`)
                this.loading = false
                return
            }

            console.log(file.type)

            if(file.type === 'video/mp4' || file.type === 'video/quicktime') {
                let reader = new FileReader()
                reader.onload = async (event) => {
                    axios.post(this.uploadUrl || '', {
                        img_url :event.target.result})
                        .then(response => {
                            this.$emit('input', response.data.data)
                            this.loading = false
                        })
                        .catch(err => {
                            console.error(err)
                            this.loading = false
                        })
                }
                reader.readAsDataURL(file)
            }
            else {
                this.$toast.error(`Video format must be .mp4 .mov`)
                this.loading = false
            }
        },
        onImageRemoveClick() {
            this.url = ''
            document.getElementById('uploader').value = ''
            this.$emit('remove')
        }
    },
}
</script>

<style scoped>
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}
.wrap:hover {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.upload-button input,
.wrap input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
}
.upload-button input[type=file],
.upload-button input[type=file]::-webkit-file-upload-button,
.wrap input[type=file],
.wrap input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}
.preview-default {
    width: 100%;
    height: 100%;
    padding: 12px;
}
.preview-default img {
    width: auto;
    height: 100%;
}
.card {
    width: 100%;
    height: 100%;
}
.overlay-wrapper {
    width: 100%;
    height: 100%;
    padding: 6px;
}
.overlay-wrapper img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.overlay-layer {
    background-color: rgba(0, 0, 0, 0.5);
}
.upload-button {
    position: relative;
    overflow: hidden;
}
.wrap-loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #27BA08;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
</style>