<template>
	<div class="wrap">
		<button class="uppy-btn btn btn-outline-primary btn-bold">Upload File</button>
        <slot />
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.wrap {
	position: relative;
    overflow: hidden;
    cursor: pointer;
}
.wrap input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
}
.wrap input[type=file],
.wrap input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}
</style>