<template>
    <div
        :id="uuid.v4()"
        class="draggable areas-drag"
        :style="styleImage"
        ref="areasDrag"
    ># {{zIndex}}</div>
</template>

<script>
import { uuid } from "vue-uuid"
import $ from 'jquery'
import 'jquery-ui/ui/widgets/draggable'

export default {
    props: ['data', 'index', 'size', 'preview'],
    mounted() {
        this.setPosition()
        this.bindEvent()
    },
    updated() {
        this.setPosition()
        this.bindEvent()
    },
    data() {
        const zIndex = (this.index + 1)

        return {
            uuid,
            zIndex,
            el: {},
        }
    },
    computed: {
        styleImage() {
            const widht = this.data.area.width/(this.size.width/this.preview.width)
            const height = this.data.area.height/(this.size.height/this.preview.height)

            return `
                width: ${widht > this.preview.widht ? this.preview.widht : widht}px;
                height: ${height > this.preview.height ? this.preview.height : height}px;
                z-index: ${this.zIndex};
            `
        }
    },
    methods: {
        setPosition() {
            let el = null
            const x = parseInt(this.data.area.x/(this.size.width/this.preview.width))
            const y = parseInt(this.data.area.y/(this.size.height/this.preview.height))

            el = this.$refs.areasDrag

            const height = $(el).height()

            $(el).css({
                top: y > this.preview.height ? 0 : y,
                left: x > this.preview.width ? 0 : x,
            })
        },
        bindEvent() {
            let el = null
            el = this.$refs.areasDrag

            $(el).draggable({
                containment: "parent",
                scroll: false,
                stop: (event) => {
                    const _this = $(event.target)
                    const p = _this.position()
                    const x = parseInt(p.left * (this.size.width/this.preview.width))
                    const y = parseInt(p.top * (this.size.height/this.preview.height))

                    let _data = {...this.data}
                    let payload = {
                        x: x,
                        y: y,
                        width: this.data.area.width,
                        height: this.data.area.height
                    }
                    _data.area = payload
                    this.$emit('update', _data, this.index)
                }
            })
        }
    },
}
</script>

<style scoped>
.areas-drag {
    background-color: rgba(0, 0, 0, 0.48);
    cursor: pointer;
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.47);
}
</style>