<template>
    <div class="richmessage-wrap">
        <div class="d-flex flex-column align-items-center" style="width: 25%;margin-top: 90px;">
            <action
                :index="index"
                v-for="(area, index) in item.data.actions"
                :key="`Action-${index}`"
                :area="area"
                :size="item.data.baseSize"
                :actionList="[
                    {id: 'message', title: 'Text Reply'},
                    {id: 'uri', title: 'Link & Tel'},
                ]"
                @boundsChange="onBoundsChange"
                @actionChange="onActionChange"
                @removeArea="onAreaRemove"
            />
            <!-- {id: 'location', title: 'Share Location Action'}, -->
            <button
                v-if="item.data.actions.length < 20"
                type="button"
                class="btn btn-outline-primary mt-2 add-action"
                :disabled="!item.data.baseUrl"
                @click="onAdd"
            >
                Add action #{{item.data.actions.length + 1}}
            </button>
        </div>
        <div style="width: 50%;">
            <div class="richmessage-des">
                <span>Image format: JPG, JPEG, or PNG</span>
                <span>Image sizes: 1040 × height 1 - 2040</span>
                <span>Max file size: 10 MB</span>
            </div>
            <div class="wrap-section" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`">
                <div class="wrap-image">
                    <drag-section-area
                        v-for="(area, index) in item.data.actions"
                        :key="`SectionImage-${index}`"
                        :data="area"
                        :index="index"
                        :size="item.data.baseSize"
                        :preview="imagePreview"
                        @update="onAreaUpdate"
                    />
                    <div class="upload-wrap">
                        <upload
                            :imagePreview="imagePreview"
                            :value="item.data.baseUrl"
                            :min="10"
                            :uploadUrl="uploadUrl"
                            @input="onImageUpload"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DragSectionArea from './DragSectionArea'
import Upload from './Upload'
import Action from './Action'

export default {
    props: ['item', 'uploadUrl'],
    components: {
        DragSectionArea,
        Upload,
        Action,
    },
    data() {
        return {
            imagePreview: {
                width: 300,
                height: 300
            },
        }
    },
    mounted() {
        const ratio = this.item.data.baseSize.width / this.item.data.baseSize.height
        this.imagePreview.height = this.imagePreview.width / ratio
    },
    methods: {
        onImageUpload(data, size) {
            const ratio = size.width / size.height
            this.imagePreview.height = this.imagePreview.width / ratio
            this.$emit('onChange', this.item, {
                ...this.item.data,
                baseUrl: data,
                baseSize: size,
            })
        },
        onAreaUpdate(data, index) {
            const newAreas = [...this.item.data.actions]
            newAreas[index] = data

            this.$emit('onChange', this.item, {
                ...this.item.data,
                actions: newAreas,
            })
        },
        onBoundsChange(value, key, index) {
            const newAreas = [...this.item.data.actions]
            newAreas[index].area[key] = value
            this.$emit('onChange', this.item, {
                ...this.item.data,
                actions: newAreas,
            })
        },
        onActionChange(value, index) {
            const newAreas = [...this.item.data.actions]
            newAreas[index] = value

            this.$emit('onChange', this.item, {
                ...this.item.data,
                actions: newAreas,
            })
        },
        onAreaRemove(index) {
            const areas = [...this.item.data.actions].filter((area, idx) => idx !== index)
            this.$emit('onChange', this.item, {
                ...this.item.data,
                actions: areas,
            })
        },
        onAdd() {
            const defaultAction = {
                type: 'message',
                text: '',
                area: {
                    width: 240,
                    height: 240,
                    x: 0,
                    y: 0,
                }
            }
            if(this.item.data.actions.length !== 0) {
                const target = this.item.data.actions.find(action => action.linkUri === '' || action.text === '')
                if(target) {
                    this.$toast.error('Please input required field.')
                    return
                }
            }
            const newArea = [...this.item.data.actions]
            newArea.push(defaultAction)
            this.$emit('onChange', this.item, {
                ...this.item.data,
                actions: newArea,
            })
        },
    },
}
</script>

<style scoped>
.richmessage-des {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 386px;
    margin: 0 auto 24px;
}
.wrap-section {
    position: relative;
    margin: 0 auto;
}
.wrap-image {
    width: 100%;
    height: 100%;
}
.richmessage-wrap {
    display: flex;
}
.add-action:active,
.add-action:focus {
    color: #27BA08 !important;
    background-color: transparent !important;
    border-color: #27BA08 !important;
}
</style>