<template>
    <div class="wrap-loading" :style="`width: ${imagePreview.width};min-height: ${imagePreview.height}px;height: auto;`" v-if="loading">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="upload_image" v-else>
        <div class="image-wrapper" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;`" v-if="value">
            <img :src="value" alt="" ref="uploadWrap" />
            <div class="image-action">
                <div class="image-action-icon edit">
                    <i class="far fa-edit icon-lg"></i>
                    <input
                        ref="uploadInput"
                        type="file"
                        accept="image/*"
                        class="upload_input"
                    />
                </div>
            </div>
        </div>
        <div class="upload_image-wrapper" :style="`width: ${imagePreview.width}px;min-height: ${imagePreview.height}px;height: auto;cursor: pointer;`" v-else>
            <fragment>
                <i class="fas fa-camera" />
                <label>Click to Upload Image</label>
            </fragment>
            <input
                ref="uploadInput"
                type="file"
                accept="image/*"
                class="upload_input"
            />
        </div>
    </div>
</template>

<script>
import axios from "axios"

const _URL = window.URL || window.webkitURL

export default {
    props: ['value', 'imagePreview', 'min', 'uploadUrl'],
    data() {
        return {
            loading: false,
            size: [
                {
                    widht: 1040,
                    height: 1040,
                },
            ]
        }
    },
    mounted() {
        this.initComponent()
    },
    updated() {
        this.initComponent()
    },
    methods: {
        initComponent() {
            $(this.$refs.uploadInput).on('change', async (evt) => {
                let file = $(this.$refs.uploadInput)[0].files[0]

                if(file.type === 'image/png' || file.type === 'image/jpeg') {
                    //NOTE: FN ตรวจสอบ Size รูปภาพ
                    let _check_width_height = true
                    const _img_detail = await this.getWidthHeightImg(file)

                    const ratios = this.size.map(data => {
                        return data.widht / data.height
                    })

                    // const imgDetailRatio = _img_detail.width / _img_detail.height
                    // _check_width_height = ratios.includes(imgDetailRatio)

                    // let sizeList = []
                    // this.size.map(data => {
                    //     sizeList.push(`${data.widht} × ${data.height}`)
                    // })

                    if (_img_detail.width !== 1040 || (_img_detail.height === 0 || _img_detail.height > 2040)) {
                        this.$toast.error(`Image size must be 1040 × height 1 - 2040`)
                        return
                    }

                    //NOTE: Valid Size File
                    if (this.min !== "") {
                        const mb = parseFloat(this.min) * 1000000;
                        if (file.size > mb) {
                            this.$toast.error(`Maximum upload file size must be ${this.size} MB`)
                            return;
                        }
                    }

                    if (file) {
                        this.loading = true
                        let reader = new FileReader()
                        reader.onload = async (event) => {
                            axios.post(this.uploadUrl || '', {
                                img_url :event.target.result})
                                .then(response => {
                                    this.$emit('input', response.data.data,  _img_detail)
                                    this.loading = false
                                })
                                .catch(err => {
                                    console.error(err)
                                    this.loading = false
                                })
                        }
                        reader.readAsDataURL(file)
                    }
                }
                else {
                    this.$toast.error(`Image format must be .png .jpeg`)
                    this.loading = false
                }
            })
        },
        getWidthHeightImg(file) {
            return new Promise(function (resolve, reject) {
                try {
                    let _img = new Image();
                    _img.src = _URL.createObjectURL(file);
                    _img.onload = function() {
                        resolve({
                            width: _img.width,
                            height: _img.height
                        });
                    };
                } catch (ex) {
                    resolve({
                        width: 9999999,
                        height: 9999999
                    });
                }
            })
        }
    },
}
</script>

<style scoped>
.upload_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.upload_image-wrapper {
    position: relative;
    background-color: #E2E9F0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    
}
.upload_image-wrapper:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.upload_image-wrapper > span {
    color: #9BA6B2;
    font-size: 34px;
    margin-bottom: 16px;
}
.upload_image-wrapper > label {
    color: #8E969E;
    font-size: 18px;
}
.image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-wrapper {
    position: relative;
    background-color: #E2E9F0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.image-wrapper > .image-action {
    position: absolute;
    top: 0;
    right: -45px;
}
.image-wrapper .image-action .image-action-icon {
    padding: 0 12px 12px;
    cursor: pointer;
}
.image-wrapper .image-action .image-action-icon i {
    transition: text-shadow, 2s, ease;
    text-shadow:  0px 0px 12px #FFFFFF;
}
.image-wrapper .image-action .image-action-icon:hover i {
    text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
}
.image-wrapper .image-action .image-action-icon.edit {
    position: relative;
}
.image-wrapper .image-action .image-action-icon.edit input[type=file],
.image-wrapper .image-action .image-action-icon.edit input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}
.upload_image-wrapper input[type=file],
.upload_image-wrapper input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}
.upload_input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrap-loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #27BA08;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

</style>